:root {
    --admin-page-width: 800px; /* Change this to the desired width of admin-page */
    --sidebar-container-width: 200px; /* Change this to the width of sidebar-container */
}
#app {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

.card-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

}

card-container {
    display: flex;
    justify-content: center;
    background-color: #f2105e; /* Background color (Purple) */
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    background-color: #f2105e; /* Background color (Purple) */
    padding: 20px;
}

.form-container {
    width: 650px;
    background-color: #fff; /* FAQ container background color (White) */
    padding: 30px;
    border-radius: 10px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6610f2;
    color: floralwhite;
    height: inherit;
    padding: 20px;
}

.app-container {
    background-color: #6610f2;
    color: floralwhite;
    align-items: center;
    display: flex; /* Display children in a flex layout */
    flex-direction: column; /* Stack children vertically */
    height: 100%; /* Set the container height to take up remaining space */
}

.app {
    height: 100vh; /* Set the app height to fill the viewport */
}

.app-container {

}

.app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
}


body {
    background-color: #6610f2;
    color: floralwhite;


}

/*change the color on the disabled inputs*/
input:disabled {
    background-color: #6610f2;
    color: floralwhite;
    /*can we make the inputs look disabled*/
    opacity: 0.7;


}

/*
fill page with app-container
*/
html, body, #app {
    height: 100%;
    padding: 0;
}

.button-container {
    margin-top: 5px;
    padding-top: 5px;
    color: floralwhite;
    align: center;

}

.box-shadow {
    box-shadow: 0px 0px 5px 0px #000;
}

/*  ---------------------------------------      Nav Styles      -------------------------------------------------- */
nav, .nav {
    display: flex;
    justify-content: flex-start;
    background-color: #f2105e;
    color: floralwhite;
    box-shadow: 0px 0px 5px 0px #000;
    width: 100%;
    /*nothing can over lap this nav */
    z-index: 2;

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    margin-bottom: auto;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    color: floralwhite;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color: #6610f2;
    color: floralwhite;

}

nav a.active {
    background-color: #10f2f2;
    color: floralwhite;

}

nav a:active {
    background-color: #10f2f2;
    color: floralwhite;

}

.chart {
    flex: 1;
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 500px;
    background-color: #fff;
    border-radius: 2px;
    margin: 20px;
}

.line-chart {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
}

/*  ----------------------------------------     Sidebar Styles     -------------------------------------------------- */

/* Sidebar Styles */

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    display: block;
    color: floralwhite;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #f2105e;
    color: black;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
}

/*  ----------------------------------------     Forms Styles     -------------------------------------------------- */

.form-container {
    max-width: 650px;
    margin: 0 auto;
}

.form-container {
    width: 650px;
    background-color: #fff; /* FAQ container background color (White) */
    padding: 30px;
    border-radius: 10px;
}

form {


}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
[type="number"]:focus,
[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: black 0px 0px 5px 0px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus, [type="number"]:focus,
[type="tel"] {
    box-shadow: black 0px 0px 5px 0px;
    /*box-shadow: #f2105e 0px 0px 5px 0px;*/
}

/*.add-car-form {
    max-width: 400px;
    margin: auto;
}*/

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*button[type="submit"] {
!*    padding: 10px 20px;*!
    !*background-color: #6610f2;*!
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/


/*.add-user-form {
    max-width: 400px;
    margin: auto;
}*/

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*
button[type="submit"] {
    padding: 10px 20px;
   !* background-color: #6610f2;*!
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
*/

.btn-small {
    padding: 5px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*button[type="submit"] {
   !* background-color: #f2105e;*!
    color: floralwhite;

    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

/*.button {
    background-color: #f2105e;
    color: floralwhite;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: black 0px 0px 5px 0px;
    cursor: pointer;
    height: 40px;
}*/

.button:hover {
    background-color: #6610f2;
    /*   box-shadow: inset #f2105e 0px 0px 10px 0px;  */
    box-shadow: black 0px 0px 5px 0px;

}

.button:active {
    background-color: #10f2f2;
    box-shadow: black 0px 0px 5px 0px;

}

.custom-button {
    background-color: #f2105e;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: black 0px 0px 5px 0px;
    color: floralwhite;
    height: 40px;

}

.custom-button:hover {
    background-color: #6610f2;
    color: floralwhite;
    box-shadow: black 0px 0px 10px 0px;
    text-decoration: none;
    height: 40px;
}

.custom-button:active {
    background-color: #10f2f2;
    color: floralwhite;
    box-shadow: black 0px 0px 10px 0px;
    text-decoration: none;
    height: 40px;
}

/*  ----------------------------------------     Tables Styles      -------------------------------------------------- */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin-bottom: 20px;
}

/* -----------------------------------              Menus            ------------------------------------*/


.sidebar ul {
    list-style-type: none;
    padding: 10px;
    border-radius: 2px;

}

.sidebar li {
    padding: 10px;
    border-radius: 2px;

}

.sidebar a {
    display: block;
    color: floralwhite;
    text-decoration: none;
    border-radius: 2px;

}

.sidebar a:hover {
    background-color: #f2105e;

    color: floralwhite;
    border-radius: 2px;
    padding: 10px;
    box-shadow: black 0px 0px 5px 0px;

}

.submenu {
    display: none;
    border-radius: 4px;


}

.sidebar li:hover .submenu {
    display: block;
    border-radius: 4px;


}

.sidebar li:hover .submenu a {

}

.user-profile {
    max-width: 400px;
    margin: auto;
}

.profile-details {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

span {
    margin-left: 10px;
}

/* -----------------------------------  Styling the Admin Users Management Page  ------------------------------------*/

/*.add-user-link {
    margin-bottom: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    height: 40px;
}*/

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

th {
    padding: 0.5rem;
    text-align: left;
}

td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

button {

    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    color: white;
    height: 40px;text-decoration: none;
}

.blue-icon {
    color: #2196f3;

}

.confirm-button, .accept-button ,.add-button{
    background-color: #4caf50;
    height: 40px;

}

.deny-button, .cancel-button {
    background-color: #e53935;
    height: 40px;
}

.delete-button {
    background-color: #e53935;
    height: 40px;
}

.update-button {
    background-color: #ff9800;
    height: 40px;
}

.read-button {
    background-color: #2196f3;
    height: 40px;
}

.search-bar {
    margin-bottom: 1rem;
}

.search-bar input {
    padding: 0.5rem;
    width: 300px;
    margin-right: 1rem;
}

/*.add-user-button {

    margin-bottom: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #000;
    height: 40px;

}*/



.search-button:hover {
    background-color: #45a049;
}

.search-input {
    min-width: 420px
}

.search-input {
    display: flex;
    align-items: center;
}

.search-input input {
    margin-right: 10px;
}

.search-input-button {
    margin-left: 10px;
    height: 40px;
}

.search-input {
    padding: 8px;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    margin-right: 8px;
}

.search-bar-container-button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    background-color: #2196f3;
    height: 40px;
}

.search-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
}

.reset-search-button {
    min-width: 120px;
    height: 40px;

}


.loading {
    /* margin-top: 1rem;*/
}

.add-button:hover {
    background-color: #6610f2;
}

.add-button {
    min-width: 100px;
    height: 40px;
}

.delete-button {
    min-width: 100px;
    height: 40px;
}

.update-button {
    min-width: 100px;
    height: 40px;
}

.read-button {
    min-width: 100px;
    height: 40px;
}

.actions-column {
    min-width: 370px;
    align-items: center;
}

/* -----------------------------------  Styling the Admin Management Pages Buttons  ------------------------------------*/





/*this is to put the admin top section in one line */
.search-bar-container {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    display: flex;
    align-items: center;
}

.search-input input {
    margin-right: 10px;
}

/*.search-input button {
    margin-left: 10px;
}*/

.add-button {
    margin-left: 10px;
}

/*align admin form heading */

.content-header {
    text-align: center;
    margin-bottom: 20px;
}


/* -----------------------------------  Styling the Modals  ------------------------------------*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    max-height: 95%;
    max-width: 95%;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
}

.modal-actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-left: 0.5rem;
    box-shadow: 0px 0px 5px 0px #000;
    height: 40px;text-decoration: none;
    color: floralwhite;
    border: none;
}

.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-spinner {
    border: 4px solid #f3f3f3; /* Light gray */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}


.create-rental {
    margin-top: 20px;
}

h2 {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="datetime-local"],
input[type="text"],
select {
    width: 100%; /* Updated: Set width to 100% */
}


.error-message {
    color: red;
    margin-top: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* -----------------------------------  Media Queries for Responsive Layout  ------------------------------------*/
@media (max-width: 768px) {
    .form-container {
        max-width: 100%;
    }
}